services:
  app:
    build:
      context: ../
      dockerfile: Dockerfile
    volumes:
      - ../:/var/www/html
      - /var/www/html/vendor
      - ../.env:/var/www/html/.env
    depends_on:
      - mysql
    ports:
      - "5173:5173"
    environment:
      APP_ENV: ${APP_ENV}
      APP_DEBUG: ${APP_DEBUG}
      DB_HOST: ${DB_HOST}
      DB_DATABASE: ${DB_DATABASE}
      DB_USERNAME: ${DB_USERNAME}
      DB_PASSWORD: ${DB_PASSWORD}
      OPENAI_API_KEY: ${OPENAI_API_KEY}
      HF_TOKEN: ${HF_TOKEN}

  web:
    image: nginx:alpine
    ports:
      - "8080:80"
    volumes:
      - ../:/var/www/html
      - /var/www/html/vendor
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app

volumes:
  db_data:
  redis-data:
