name: CI

on:
  push:
    branches: [ main, develop ]
  pull_request:
    branches: [ main, develop ]

jobs:
  laravel-ci:
    runs-on: ubuntu-latest
    services:
      docker:
        image: docker:20.10.24
        options: --privileged
        ports:
          - 8000:8000

    env:
      COMPOSE_PROJECT_NAME: property-generator
      COMPOSE_PATH_SEPARATOR: ";"
      COMPOSE_FILE: docker/app.yml;docker/database.yml;docker/database_administration.yml;docker/redis.yml

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Docker
        uses: docker/setup-buildx-action@v2

      - name: Start Docker Compose services
        run: docker-compose up -d --build

      - name: Install PHP dependencies
        run: docker-compose exec app composer install --prefer-dist --no-progress --no-interaction

      - name: Install Node dependencies
        run: docker-compose exec app npm install

      - name: Run PHPStan
        run: docker-compose exec app vendor/bin/phpstan analyse

      - name: Run Pint formatting
        run: docker-compose exec app composer pint

      - name: Run Tailwind lint
        run: docker-compose exec app composer tlint

      - name: Run PHPUnit / PEST tests
        run: docker-compose exec app php artisan test

      - name: Shutdown Docker Compose
        run: docker-compose down
